<launch>

	<!-- start the robot node for communication between ROS and Parallax -->
	<include file="$(find rosbee2)/robot_node.launch" />
	
	<!-- start joint state and robot state pubs, to publish robot model -->
	<include file="$(find rosbee2_configs)/launch/urdf_pub.launch" />
	
	<!-- start Hokuyo Laserscan node -->
	<node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" />
		
</launch>
