<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="rosbee2a" >
       
  <!-- Rosbee 2a base -->
  <xacro:include filename="$(find rosbee_description)/urdf/base/base.urdf.xacro" />
  
  <!-- Rosbee 2a body -->
  <xacro:include filename="$(find rosbee_description)/urdf/body/r2a_body.urdf.xacro" />
  
  <!-- Rosbee 2a pan tilt -->
  <xacro:include filename="$(find rosbee_description)/urdf/misc/pan_tilt/pan_tilt_simple.urdf.xacro" />
  
  <!-- Rosbee 2a kinect -->
  <xacro:include filename="$(find rosbee_description)/urdf/sensors/kinect/kinect_simple.urdf.xacro" />
  
  
  <xacro:rosbee_base name="base"/>
  
  <xacro:r2a_body name="body" parent="base">
    <origin xyz="0 0 0.0495" rpy="0 0 0" />
  </xacro:r2a_body>
      
  <xacro:pan_tilt_kinect name="pan_tilt" parent="body">
    <origin xyz="0.171 0.055 0.0715" rpy="0 0 0"/>
  </xacro:pan_tilt_kinect>
  
  
  
  <xacro:sensor_kinect parent="pan_tilt_yaw_link">
    <origin xyz="0 0 0.0287" rpy="0 0 0"/> <!-- z = 38/2 + 8/2 + 5.7 -->
  </xacro:sensor_kinect>
                  

</robot>

