<!-- Starts up the robot node -->

<launch>
  <!-- The Robot Node -->
  <node pkg="rosbee2" type="robot_node.py" name="rosbee2">
    <param name="verbose" value="False"/>
    <param name="update_rate" value="20"/>
    <param name="fake_connection" value="False"/>
    <param name="fake_respons" value="False"/>
    <param name="port" value="/dev/ttyUSB0"/> 
    <param name="baudrate" value="115200"/>
    <param name="cmd_vel_timeout" value="0.6"/>
    <param name="min_abs_yaw_vel" value="None"/>
    <param name="max_abs_yaw_vel" value="None"/>
    <param name="publish_tf" value="False"/>
    <param name="odom_frame" value="odom"/> 
    <param name="base_frame" value="base_link"/>
  </node>

</launch>
